<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RESTful Photo Gallery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../css/style.css" th:href="@{../css/style.css}"/>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>RESTful Photo Gallery</h1>
    </div>
    <!--@thymesVar id="photos" type=""-->
    <div class="row">
        <div class = "col-md-3"  th:each="photo : ${photos}">
            <!--@thymesVar id="data" type=""-->
            <img th:src="@{'data:image/png;base64,'+${photo.data}}" alt="" />
        </div>
    </div>
    <div th:class="jumbotron">
        <!--@thymesVar id="name" type=""-->
         <p th:text="'Number of upload photos: ' + ${name}" />
    </div>
</div>
</body>
</html>