<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RESTful Photo Gallery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../css/style.css" th:href="@{../css/style.css}"/>
    <style>
        .col-md-user{
            width: 250px;
            height: 200px;
            float: left;
            position: relative;
            min-height: 1px;
            margin: 15px 15px;
            box-sizing: border-box;
        }
        .col-md-user img{
            width: 100%;
            height: 100%;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>RESTful Photo Gallery</h1>
    </div>
    <!--@thymesVar id="photos" type=""-->
    <div class="row col-md-offset-1">
        <div class = "col-md-user"  th:each="photo : ${photos}">
            <!--@thymesVar id="data" type=""-->
            <img th:src="@{'data:image/png;base64,'+${photo}}" alt="" />
        </div>
    </div>
    <div th:class="jumbotron">
        <!--@thymesVar id="name" type=""-->
         <p th:text="'Number of upload photos: ' + ${name}" />
    </div>
</div>
</body>
</html>